<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LoopRoundFigure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>934DEF641D20FE17007F5DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>934DEF7D1D20FE18007F5DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>934DEF881D20FE18007F5DE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
